apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-web
  namespace: flask-prod
  labels:
    app: flask-web
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: flask-web
  template:
    metadata:
      labels:
        app: flask-web
      annotations:
        # Mantendo sua injeção automática do SigNoz
        instrumentation.opentelemetry.io/inject-python: "signoz/signoz-instrumentation"
    spec:
      containers:
        - name: flask-web
          # Atenção: Seu pipeline de CI/CD deve atualizar essa hash da imagem automaticamente
          image: ghcr.io/amsatnaf/flask-web:3867469f25c6b5ff4c39b548398b0ad16c159703
          imagePullPolicy: Always
          
          # --- NOVO BLOCO: CONEXÃO COM O BANCO DE DADOS ---
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: mysql-gcp-creds
                  key: DB_USER
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: mysql-gcp-creds
                  key: DB_PASS
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: mysql-gcp-creds
                  key: DB_HOST
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: mysql-gcp-creds
                  key: DB_NAME
            # Opcional: Garante que o nome do serviço bata com o que definimos no Python
            - name: OTEL_SERVICE_NAME
              value: "flask-backend-oci"
          # ------------------------------------------------
          
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10
